@use '../../../styles/sass/variables' as v;
@use '../../../styles/sass/utils' as u;
@use '../../../styles/sass/page-common' as common;

.wrapper{
    @extend .wrapper;
}

.technology{
    width: 100%;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;

    @include u.breakpoint('medium'){
        
    }
    @include u.breakpoint('large'){

    }

    &--title{
        display: block;
        @include v.text-preset-4;

        @include u.breakpoint('medium'){
        }

        @include u.breakpoint('large'){
        }
    }



    &--content{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-inline: v.$spacing-200;

        @include u.breakpoint('medium'){
        
        }
        @include u.breakpoint('large'){
            flex-direction: row;
            margin-inline: auto;
        }

        &__info{
            display: flex;
            order: 1;
            flex-direction: row;
            flex: 1;
            text-align: center;
            justify-content: center;

             @include u.breakpoint('large'){
                flex: 1 1 50%;  
                text-align: center;
                justify-content: center;
             }

            &__details{
                order: 2;
                h2{
                    @include v.text-preset-5;
                    margin-bottom: v.$spacing-200;
                }

                h3{
                    @include v.text-preset-3;
                    margin-bottom: v.$spacing-400;
                }

                p{
                    @include v.text-preset-6;
                    color: v.$blue-300;
                }
            }

            &__buttons{
                display: flex;
                flex-direction: column;
                width: auto;
                gap: v.$spacing-400;
                margin-top: v.$spacing-600;

                button{
                    background: white;
                    opacity: .8;
                    border: none;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    transition: transform 0.2s ease;

                    &:hover{
                        transform: scale(1.5);
                        background: white;
                        opacity: 1;
                    }
                }
            }           
        }

        &__imageWrapper{
            @extend %image-wrapper-base;
            order: 2;
            margin-top: v.$spacing-600;

            @include u.breakpoint('large'){
                margin-top: 0;
            }

            img{
                @extend %image-base;
            }
        }
    }
}