$white: white;
$black: black;

$blue-900: hsl(230, 35%, 39%);
$blue-300: hsl(231, 77%, 90%);

$gradient: linear-gradient(to bottom, white, #737373);

$spacing-0: 0px;
$spacing-25: 2px;
$spacing-50: 4px;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1400: 112px;
$spacing-1600: 128px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-family-rubik: 'Rubik', sans-serif;
$font-family-bellefair: 'Bellefair', serif;
$font-family-barlow: 'Barlow', sans-serif;
$font-family-barlow-condensed: 'Barlow Condensed', sans-serif;

//DESKTOP
@mixin text-preset-1 {
  font-family: $font-family-bellefair;
  font-size: 144px;
  font-weight: $font-weight-regular;
  line-height: 171.9%;
  letter-spacing: 0px;
}
@mixin text-preset-2 {
  font-family: $font-family-bellefair;
  font-size: 100px;
  font-weight: $font-weight-regular;
  line-height: 114.6%;
  letter-spacing: 0px;
}
@mixin text-preset-3 {
  font-family: $font-family-bellefair;
  font-size: 56px;
  font-weight: $font-weight-regular;
  line-height: 64.2%;
  letter-spacing: 0px;
}
@mixin text-preset-4 {
  font-family: $font-family-bellefair;
  font-size: 32px;
  font-weight: $font-weight-regular;
  line-height: 36.7%;
  letter-spacing: 0px;
}
@mixin text-preset-5 {
  font-family: $font-family-bellefair;
  font-size: 28px;
  font-weight: $font-weight-regular;
  line-height: 33.6%;
  letter-spacing: 4px;
}
@mixin text-preset-6 {
  font-family: $font-family-bellefair;
  font-size: 28px;
  font-weight: $font-weight-regular;
  line-height: 32.1%;
  letter-spacing: 0px;
}
@mixin text-preset-7 {
  font-family: $font-family-barlow-condensed;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 16.8%;
  letter-spacing: 2px;
}
@mixin text-preset-8 {
  font-family: $font-family-barlow-condensed;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 19.2%;
  letter-spacing: 2px;
}
@mixin text-preset-9 {
  font-family: $font-family-barlow;
  font-size: 18px;
  font-weight: $font-weight-regular;
  line-height: 180%;
  letter-spacing: 0.25px;
  font-style: italic;
}