@use '../../../styles/sass/variables' as v;
@use '../../../styles/sass/utils' as u;
@use '../../../styles/sass/page-common' as common;

.wrapper{
    @extend .wrapper;
}

.crew{
    width: 100%;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;

    @include u.breakpoint('medium'){
        
    }
    @include u.breakpoint('large'){

    }

    &--title{
        display: block;
        @include v.text-preset-4;

        @include u.breakpoint('medium'){
        }

        @include u.breakpoint('large'){
        }
    }



    &--content{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: v.$spacing-200;

        @include u.breakpoint('medium'){
        
        }
        @include u.breakpoint('large'){
            flex-direction: row;
            margin-inline: auto;
            gap: 1rem;
        }

        &__info{
            display: flex;
            flex-direction: column;
            flex: 1;
            text-align: center;
            justify-content: center;

            &__wrapper{
                display: flex;
                flex-direction: column;
                gap: v.$spacing-400;
                margin-bottom: v.$spacing-600;

                h2{
                    @include v.text-preset-4;
                    color: v.$white;
                    opacity: .5;
                    text-transform: uppercase;
                }
                h3{
                    @include v.text-preset-3;
                    color: v.$white;
                    text-transform: uppercase;
                }
                p{
                    @include v.text-preset-9;
                    color: v.$blue-300;
                }

                @include u.breakpoint('large'){
                    gap: v.$spacing-400;
                    margin-bottom: v.$spacing-0;
                }
            }

             @include u.breakpoint('large'){
                flex: 1 1 50%;  
                height: 100%;
                text-align: left;
                justify-content: center;
                gap: 6rem;
             }

            &__buttons{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: v.$spacing-400;
                margin-top: v.$spacing-600;

                @include u.breakpoint('large'){
                    justify-content: flex-start;
                    align-items: flex-end;
                    margin-top: 0;
                }

                button{
                    background: white;
                    opacity: .8;
                    border: none;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    transition: transform 0.2s ease;

                    &:hover{
                        transform: scale(1.5);
                        background: white;
                        opacity: 1;
                    }
                }
            }           
        }

        &__imageWrapper{
            @extend %image-wrapper-base;
            margin-top: v.$spacing-600;

            @include u.breakpoint('large'){
                margin-top: 0;
            }

            img{
                @extend %image-base;
            }
        }
    }
}